<li class="issue" id="issue-<%= issue.number%>">
  <strong>#<%= issue.number %></strong>
  <h2><%= issue.title %></h2>
  <p><%= issue.body %></p>
  <p class="comments">Comments: <%= issue.comments %></p>
  <p class="updatedon">Updated: <%= distance_of_time_in_words_to_now(issue.updated_at) %> ago</p>
  <p class="createdby">Created by: <%= issue.user.login %>
  <% if issue.assignee %>
    <p class="assignedto">Assigned to: <%= issue.assignee.login %>
  <% end %>
  <p class="tags">
  <% for tag in issue.labels %>
    <span style="background-color:#<%= tag.color %>"><%= tag.name %></span>
  <% end %>
  </p>
  <button class="print">Print</button>
</li>
