<!DOCTYPE html>
<html>
<head>
  <title>IssueWall</title>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "flat-ui", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "print", media: "print", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
